/* Write your custom CSS here */

.ochip {
	margin-bottom: -2px !important;
	margin-right: -10px !important;
	margin-top: -2px !important;
}

.ScrollStyle
{
    max-height: 600px;
    overflow-y: scroll;
}

#tab_btn{
	cursor: pointer;
}

.dataTable th, .dataTable td {
    padding: 5px 5px!important;
}

.side-nav ul ul li a, .side-nav.fixed ul ul li a {
	margin: -10px !important;
}

td, th {
    padding: 2px 2px !important;
}
